.body{
    background-color: black;

}
header{
    border: solid 2px white;
}
header div img{
    
    justify-content: left
  
}
.nav-desktop{

    justify-content: right;
    justify-items: right;
}

.nav-desktop ul{
    display: flex;
    justify-content: right;
    list-style: none;
}
.nav-desktop ul li{
    padding: 0 2%;
    text-decoration: none;
    }

.nav-desktop ul li a {
    text-decoration: none;
    color: white;
}
    .nav-mobile{
        display: none;
    }
@media 