/*font-family: 'Sono', sans-serif;
font-family: 'Source Serif Pro', serif;*/

.body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 52%, rgba(152,152,152,0.40689779329700626) 86%, rgba(0,0,0,1) 100%);}
.bodyobras{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 76%, rgba(152,152,152,0.40689779329700626) 89%, rgba(0,0,0,1) 100%);
}
    header{
    display: flex;
    width: 100%;
    justify-content: center;
   }
.nav-desktop{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Sono', sans-serif;
    font-size: 20px;
   
}

.nav-mobile{
    display: none;
    font-family: 'Sono', sans-serif;
    border-bottom: solid black 2px;
padding:  2%;
   }

   .imgmobile{
    display: none;
   }

   @media (max-width: 780px) {
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: flex;
        justify-content: right;
        margin: 0 5% 2%;
    }
    header{
        justify-content: left;
    }
    .body{
        background-color: white;
        background: none;
        margin: 2%;
    }
    .bodyobras{
        background-color: white;
        background: none;
        margin: 2%;
    }
   }

.nav-desktop ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    margin: 2%;
    padding: 1%;
    color: black;
    border-bottom: 2px black solid
}

.nav-desktop ul li {
    padding: 0 5%;
    transition: all 1.5s;
}

.nav-desktop ul li:hover {
    transform: scale(1.2);
}

.nav-desktop ul li a{
    color: black;
  text-decoration: none;
  transition: all 1.5;
}
.nav-desktop ul li a:hover{
    color: black;
}

h1{
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    font-weight: 600;
}
h2{
    font-family: 'Sono', sans-serif;
    font-size: 1.5rem;
}
p{
   font-size: 17px;
   font-family: 'Sono', sans-serif;
}


.principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
justify-content: space-between;
margin: 2% 0;
}
article{
  font-size: 19px;
  font-family: 'Sono', sans-serif;
}
.arqit{
  margin: 60px 0 0 0;
}
main{
    text-align: justify;
}
@media (max-width: 780px) {
   .arqit{
    margin: 0;
   }
    .imgdesktop{
        display: none;
    }
    .imgmobile{
        display: block;
    }
    .asidemobile{
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }    
    }


.cards-obras {
    margin: 2% 0;
    justify-content: space-between;
    justify-items: stretch;
    align-items: baseline;
    margin-bottom: 5%;
  }
  
  @media (max-width: 780px) {
    .cards-obras {
      justify-content: center;
      display: flex;
      margin: 2% 0;
 
    }
    .card-individual{
    height: 100%;
    margin: 20px 0;
    padding: 10% ;
    }
  }
  .card-individual {
    margin: 0% 2%;
    justify-content: center;
    font-family: 'Sono', sans-serif;
  }
  
  .card-li {
    border: solid 1px;
   margin: 0 0 2% 0 ;
  }
  
  .card-img {
    transition: all 1.2s;
  }
  
  .card-img:hover {
    transform: scale(1.2);
  }
  
  .mi-btn {
    background-color: black;
    color: white;
    border: white solid 3px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    transition: all 1.5s;
    font-size: 22px;
    font-family: 'Source Serif Pro', serif;
  }
  
  .card-img {
    margin: 5% 2%;
    border: solid 2px black;
    justify-content: center;
  }
  
  .mi-btn:hover {
    transform: scale(1.2);
    background-color: gray;
    color: black;
    border: black;
    
  }
  
  .bg-light {
    color: white;
    background-color: grey;
  }
  
  .mi-footer {
    background-color: grey;
    font-family: 'Sono', sans-serif;
  }
  
  .lista-iconos {
    font-size: 1.5rem;
  }
  
  .iconos {
    transition: all 1s;
  }
  
  .iconos:hover {
    transform: translateX(50px) scale(1.5);
  }
  
  .equipo-section{
    margin: 5% 0;
    padding: 5% 0;
    color: black;
  }
  .titulo-card{
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    text-align: center;
  }
  .equipo-padre {
    display: flex;
    justify-content: space-between;
    color: black;
    text-align: center;
    font-size: 18px;
  }
  
  .equipo-individual {
    border-radius: 50%;
  }
  
 
  .mi-container{
    margin: 0.5%
  }
  .titulo-footer{
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:2rem;
  }

  section h2{
    text-align: center;
    font-size: 30px;
  }
  /*formulario css*/
  form{
    font-family: 'Sono', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1.8rem 0 1.8rem 1.8rem;
    margin: 1rem auto;
    max-width: 50%;
    border: 1px solid black;
}
fieldset{
    border: none;
}
fieldset div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
legend{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
}
label{
    color: black;
    text-transform: uppercase;
}
input{
    height: 30px;
    margin: 0 0 10px 10px;
    border: 1px solid black;
    padding: 15px;
    font-family: 'Source Serif Pro', serif;
    font-size: 14px;
    color: black;
}
input:focus, textarea:focus{
    outline: none;
    border: 1px solid grey
}
.btn-send{
    padding: 0 50px;
    border: black 2px solid;
    color: white;
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    background-color: black;
}
.btn-send:hover{
    background-color: white;
    color: black;
}
svg{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
textarea {
    resize: none;
    margin-left: 10px;
  }
  @media (max-width: 780px) {
  .btn-borrar {
    display: none;
   }
   form{
  margin: 5%;
  padding: 1%;
  max-width: 100%;
  justify-content: center;
  justify-items: center;
   }

  input{
    display: flex;
    width: 100%;
    margin: 1%;
    padding: 1%;
    justify-content: center;
  }
  label{
    display: flex;
    margin: 1%;
    padding: 1%;
  }
  textarea {
    margin-left: 2%
  }
  .btn-send{
    padding: 0;
    margin: 0 40%;
  }
}
