.body{
    margin: 2%%;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;

}
.nav-desktop{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

 
}
.nav-mobile{
    display: none;
   }
   .imgmobile{
    display: none;
   }

   @media (max-width: 780px) {
    .imgdesktop{
        display: none;
    }
    .imgmobile{
        display: block;
    }
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: flex;
        justify-content: right;
        margin: 0 5%;
    }
    header{
        justify-content: left;
    }
   }

.nav-desktop ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: right;
    margin: 2%;
    background-color: gray;
}

.nav-desktop ul li {
    padding: 0 5%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
justify-content: space-between;

}

.card01{
    background-color: green;
    width: 150px;
    height: 400px;

    flex-direction: column;
}

footer{
    background-color: grey;
    margin: 2% 0 0 0;
}